@model IEnumerable<ExpenseLink.Models.Request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requests</h2>

<p>
    @Html.ActionLink("New Expense", "New", "", new { @class = "btn btn-primary" })
</p>

@if (!@Model.Any())
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table class="table	table-bordered	table-hover">
        <tr>
            <th>Requester</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        @foreach (var request in @Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(request.ApplicationUser.Name, "Detail", "Request", new { id = request.Id }, null)
                </td>
                <td>
                    @request.CreatedDate.ToString("d/MMM/yyyy")
                </td>
                <td>
                    @request.Status.Name
                </td>
            </tr>
        }

    </table>


}
