@{
    ViewBag.Title = "Home";
}
<h1>Expense Link</h1>
<p>Expense Link allows you to lodge expense request online</p>
<p>Please @Html.ActionLink("Login", "Login", "Account") to start viewing requests</p>